:root {
    black: #202020;
    white: #f8f8f8;
}

html {
    background-color: var(black);
}

div {
    height: 100%;
    width: 100%;
    /*display: flex;
    justify-content: center;*/
    display: grid;
    place-items: center;
}

p {
    display: flex;
    align-items: center;
    color: var(white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 15px;
    animation-name: shadow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

::selection {
  background: var(black); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(black); /* Gecko Browsers */
}

/* find a solution for having only 8 keyframes and make it not choppy */
@keyframes shadow {
    /* carolina blue */
    0%      {text-shadow: -7px -7px #c00000;}
    12.5%   {text-shadow: 0px -7px var(black);}
    25%     {text-shadow: 7px -7px #c000c0;}
    37.5%   {text-shadow: 7px 0px var(black);}
    50%     {text-shadow: 7px 7px #00c000;}
    62.5%   {text-shadow: 0px 7px var(black);}
    75%     {text-shadow: -7px 7px #c0c000;}
    87.5%   {text-shadow: -7px 0px var(black);}
    100%    {text-shadow: -7px -7px #0000c0;}
}

@keyframes flash {
     0%     {color: var(white);}
    14%   {color: #c00000;}
    28%     {color: #00c0c0;}
    42%   {color: #0000c0;}
    57%     {color: #c0c000;}
    71%   {color: #c000c0;}
    85%     {color: #00c000;}
    100%    {color: var(white);}
}
